/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/

*{
  font:#3C373B ;
}

/* div{
  margin:200px;
} */

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  text-align: center;
  font-size: 60px;
}

/*DİSPLAY FLEX*/

nav{
  text-align: center;
  
}
nav button{
  height: 75px;
  border: none;
  border-radius: 15%;
}


nav ul button{
  width: 10%;
  margin: 2.5%;
  font-size: 25px;
  color: #FFFFFF;
  background: #E79947;
}
#banner{
  align-items: center;
  width: 1700px;
  height: 300px;
  margin-left: 5%;
  
}


#yemek{
 
  width: 90%;
  float: left;
  margin: 15px;
}

#yemekp{
  
  float:none;
  /* margin-top: 2500px; */
}




/* #tatli{
  display: inline-block;
 
  
}
#tatlip{
  display: inline-block;
} */
h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın:

*/
p
{
font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;
}

/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:


*/
/* img
{
  border-radius: 10px;
 } */


    
.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
   background: #E79947;
  
}

.container header nav a:hover {
/*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini #E79947 yapın. */
background: white;
color: #E79947;
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/
.aboutDiv{
  margin-top: 20px;
  display: flex;
}
.aboutDiv p {
  font-family: Roboto;
font-size: 25px;
font-weight: 200;
line-height: 60px;
letter-spacing: 0em;
}

img{
  border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}


.yemekdiv{
  display: flex;
}


.aperatifdiv{
  display: flex;
}

/* #aperatif{
  width: 100%;
}

#aperatifp{

width: 10%;
} */

.tatlidiv{
  display: flex;

}

.contactP{
  font-family: Roboto;
font-size: 45px;
font-weight: 400;
line-height: 90px;
letter-spacing: 0em;
text-align: left;

}

.footerFirstDiv{
  display: flex;
  justify-content: left;
 
}
.footerFirstDiv p{
  border-bottom: solid black 2px;
  margin-right: 5px;
}

.footerSecondDiv{
  text-align: center;
}

.footer-container{
  background-color: #E79947;
  border-radius: 2%;
}